.App {
  text-align: center;
  background-color: black;
  /* font-family: 'Cantata One', serif; */
  /* font-family: 'Julius Sans One', sans-serif; */
  /* font-family: 'Domine', serif; */
  font-family: 'Nanum Gothic', sans-serif;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
